<div class="form-container">  
  <p-card>
    <h1 class="text-center mb-4">Iniciar Sesión</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="username">Usuario</label>
        <input id="username" type="text" pInputText formControlName="username" class="p-inputtext" />
        <small class="p-error" *ngIf="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched">
          El nombre de usuario es requerido
        </small>
      </div>

      <div class="p-field">
        <label for="password">Contraseña</label>
        <p-password id="password" formControlName="password" [toggleMask]="true" [feedback]="false" styleClass="w-full"></p-password>
        <small class="p-error" *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">
          La contraseña es requerida
        </small>
      </div>

      
      <div class="p-field-checkbox">
        <p-checkbox id="rememberMe" formControlName="rememberMe" [binary]="true"></p-checkbox>
        <label for="rememberMe" class="ml-2">Recordarme</label>
      </div>

      <p-button type="submit" [loading]="loading" label="Iniciar Sesión" styleClass="w-full"></p-button>
    </form>
  </p-card>
</div>